body {
    font-family: 'Cutive Mono', monospace;
    background-color: rgb(7,10,58);
    color: white;
}

.header {
    height: calc(100vw * (9/16));
    background-image: url("media/background.gif");
    background-size: contain;
    background-position-x:  left;
    background-position-y: top;
    background-repeat: no-repeat;
    background-attachment: fixed;
    position: relative;
}

.header-content {
    position: absolute;
    text-align: center;
    white-space: nowrap;
    left: 48vw;
    top: calc(20vw * (9/16));
}

#text-1 {
    font-size: 3vw;
}

#text-2 {
    font-size: 7vw;
}

#text-3 {
    font-size: 2.5vw;
}

#typing {
    color: magenta;
}
.about {
    height: 100vh;
    width: 100vw;
    background-color: white;
}